@import "./Variables.scss";



.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Form CV CV CV"
    "Form CV CV CV"
    "Form CV CV CV"
    "Form CV CV CV"
    "Form CV CV CV"
    "Footer Footer Footer Footer";

  background-color: $background;
  .Header {
    grid-area: Header;

    h1 {
      font-size: 20px;
      padding: 5px;
      background-color: $header;
    }
  }
  .Footer {
    grid-area: Footer;
  }
  .Form {
    grid-area: Form;
  }
  .CV {
    grid-area: CV;
  }
}
