@import "./Variables.scss";



.forms_container {
  @include flexCenter(column);
  margin: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: $box_shadow1;
  .head {
    display: flex;
    justify-content: space-between;
    .icon_name{
      @include flexCenter();
      align-items: baseline;
      span{
        margin-left: 16px;
      }
      svg{
        height: 16px;

      }
    }
  }
  .show_hide {
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: azure
    }
    svg{
      z-index: -2;
    }
  }

  .deleteContainer {
    @include flexCenter();
    justify-content: flex-end;
    .delete {
      background: none;
      border: none;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        background-color: rgb(223, 97, 97, 0.5);
        color: white;
      }
    }
  }

  .button-wrapper{
    display: flex;
    justify-content: flex-end;
    .addAdditional {
      @include defaultButton($add, $add-hover);
      font-size: 12px;
      width: 100%;
      padding: 5px;
/*       margin: 0px 5px; */
      
    }

    .clear{
      @extend .addAdditional;
      @include defaultButton($clear, $clear-hover);
    }
  }
  .forms {
    @include flexCenter(column);
    input, textarea {
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: $input;
    }

    .currentRole{
      display: flex;
      align-items: center;
      input{
        margin-left: 1em;
      }
    }

    textarea{
      height: 300px;
    }
    button {
    }
  }
}
