@import "./Variables.scss";

@mixin flexCenter($flow: flow) {
  display: flex;
  flex-flow: $flow;
  font-family: sans-serif;
}

.forms_container {
  @include flexCenter(column);
  margin: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;

  .head {
    display: flex;
    justify-content: space-between;
  }
  .show_hide {
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .deleteContainer {
    @include flexCenter();
    justify-content: flex-end;
    .delete {
      background: none;
      border: none;
      border-radius: 20px;
      &:hover {
        cursor: pointer;
        background-color: rgb(223, 97, 97, 0.5);
        color: white;
      }
    }
  }

  .addAdditional {
    border: none;
    background-color: $secondary;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      cursor: pointer;
    }
  }
  .forms {
    @include flexCenter(column);
    input {
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: $input;
    }
    button {
    }
  }
}
