@import "./Variables.scss";

li {
  list-style: none;
}
/* @include borderBox(); */

.cv {
  //single-line spacing defined as 120% of largest font-size?
  border: solid black 1px;
  border-radius: 10px;
  background-color: white;
  padding: 0.5in;
  font-size: 11px;
  box-shadow: $preview_shadow;
  width: 816px;
  max-width: 816px;
  height: 1056px;
  max-height: 1056px;

  .cvHeader {
    @extend .sections;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    h3{
      margin-top: 0px;
    }
  }

  .cvEducation {
    @extend .sections;

    .education {
      display: flex;
      flex-flow: column;
      justify-content: center;
      h4 {
        padding: 0;
        margin: 5px 0;
      }

      .dateDegree {
        @extend .education;
        flex-flow: row;
        justify-content: space-between;
      }
    }
  }

  .cvExperience {
    @extend .sections;
    .job {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 3);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .job_date {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      max-height: 20px;
    }
    .job_company {
      font-weight: bold;
      font-size: 11px;
    }
    .job_Role {
      list-style: disc;
      margin-left: 0;
    }
  }

  .cvTechnicalSkills {
    @extend .sections;
    width: 100%;
    li {
      font-weight: normal;
      font-size: 16px;
    }
    span {
      font-size: 12px;
    }
  }
}

.sections {
  /* margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0px 10px; */
  padding: 0;
  margin: 0;
  width: 100%;
}

.sectionHeadings {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: black 1px solid;
}
